.teams{
    border: solid 1px;
    width: 55%;
    margin-left: 450px;
}

.teams-name{
    font-size: 20px;
    text-transform: uppercase;
}
.teams-name{
    font-size: 20px;
    text-transform: uppercase;
}
